.social-login {
  margin-top: 20px;
}

.divider {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 20px 0;
}

.divider hr {
  flex: 1;
  border: none;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
}

.divider p {
  color: #9ca3af;
  font-size: 14px;
  white-space: nowrap;
}

.social-btn {
  width: 100%;
  padding: 14px;
  margin-bottom: 12px;

  background: transparent;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;

  color: white;
  font-size: 15px;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  transition: 0.2s;
}

.social-btn:hover {
  background: rgba(255, 255, 255, 0.05);
  border-color: #b14cff;
}